@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: aliceblue;
    text-align: center;
}
h1{
    font-size: 64px;
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    user-select: none;

}
p{
    font-family: "Inter", sans-serif;
    font-size:x-large;
    margin: 0px;
    user-select: none;
    font-weight: 500;
}
.game-box{
    width: fit-content;
    background-color: rgb(245, 245, 245);
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    box-shadow: 10px 10px 60px -12px rgb(161, 161, 161);
    padding:3rem 1.5rem 3rem 1.5rem;
    display: flex;
    gap:2rem;
    justify-content: space-between;
}
.player-box{
    
    display: flex;
    flex-direction: column;
    padding:0.5rem 1rem 0.5rem 1rem ;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.player-dice{
    
    box-shadow: 5px 5px 30px -12px rgb(161, 161, 161);
    width:150px;
    height: 150px;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-1{
    background: #780206;
    background: -webkit-linear-gradient(to bottom, #061161, #780206);
    background: linear-gradient(to bottom, #061161, #780206);
}

.player-2{
    background: #f857a6;
    background: -webkit-linear-gradient(to bottom, #ff5858, #f857a6);
    background: linear-gradient(to bottom, #ff5858, #f857a6);
}

.dice-dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
}
.dice-four{
    width:60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dice-four > div{
    display: flex;
    justify-content: space-between;
}
.dice-five{
    width:60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dice-five > div{
    display: flex;
    justify-content: space-between;
}

.dice-five > div.center{
    display: flex;
    justify-content: center;
}
.dice-six{
    width:60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}
.dice-six > div{
    display: flex;
    justify-content: space-between;
}

.dice-two{
    display: flex;
    gap:1rem;
}

.dice-three{
    display: flex;
    flex-direction: column;
    width:60%;
    height: 60%;
}

.dice-three .first-child{
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.dice-three .second-child{
    width:100%;
    display: flex;
    justify-content: center;
}
.dice-three .third-child{
    width:100%;
    display: flex;
    justify-content: flex-start;
}

.button{
    border: none;
    border-radius: 0.2rem;
    padding:1rem 2rem 1rem 2rem;
    font-size: large;
    background-color: rgb(0, 106, 255);
    color: white;
    font-weight: 600;
    margin-top: 3rem;
    cursor: pointer;
}

@media (max-width:767px ){
    .game-box{
        display: flex;
        width:80%;
    }
    h1{
        font-size: 32px;
        margin-bottom: 5rem;
        margin-top: 3rem;
        font-family: "Inter", sans-serif;
        user-select: none;
    
    }
    .player-dice{
    
        box-shadow: 5px 5px 30px -12px rgb(161, 161, 161);
        width:90px;
        height: 90px;
        border-radius: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dice-dot{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(236, 236, 236);
    }
}